* {
  padding: 0;
  margin: 0;
}

:root {
  --font-family: "Poppins", sans-serif;
  --primary-color: 246, 93, 231;
  --primary-color-rgb: rgb(var(--primary-color));
  --primary-color--hover: rgb(249, 126, 237);
}

button {
  color: white;
  background-color: var(--primary-color-rgb);
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.notes-app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.group {
  display: flex;
  width: 5 rem;
}

.title-input,
.content-input {
  width: 90%;
  font-size: 3rem;
  font-weight: 700;
}
